@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;

  color: white;
  background-color: #333333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2320b8ed' fill-opacity='0.03'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20B8ED;

}

.nav-wrap {
  background: none;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.4em;
}

#logo img {
  width: 90px;
  height: 70px;
  margin-top: -20px;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 33px;
}

ul.menu li {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 1.3em;
}

ul.menu a {
  color: white;
  text-decoration: none;
}

ul.menu a:hover {
  color: #d9d9d9;
}

#nav-icon {
  display: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

#nav-icon {
  background-image: url("menu-ham-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-icon:hover {
  /*background-image: url("menu-ham-red.svg");*/
}

.about {
  text-align: center;
  font-size: 1em;

  margin-top: 2em;
}

.parallax {
  background-image: url("./assets/Asset_33-removebg-preview.png");

  min-height: 550px;
  background-attachment: fixed;
  background-position: 90% 30%;
  background-repeat: no-repeat;
  background-size: 270px 200px;


}

.parallax2 {
  background-image: url("./assets/Asset\ 29.png");

  min-height: 550px;
  background-attachment: fixed;
  background-position: 10% 30%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  z-index: 1000;

}

.parallax3 {
  background-image: url("./assets/Asset\ 23.png");

  min-height: 550px;
  background-attachment: fixed;
  background-position: 90% 80%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  z-index: 1000;

}

.parallax4 {
  background-image: url("./assets/Asset\ 28.png");

  min-height: 550px;

  background-position: 30% 80%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  z-index: 1000;

}

.typewriter h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  width: 16em;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  margin-top: -8em;
  margin-bottom: 8em;
  font-weight: 450;

  animation:
    typing 3s steps(35, end),
    blink-caret 0.5s step-end infinite;

}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 16em
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
    border-width: thin;
  }
}

.flex-container {
  display: flex;
  border: none;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.flex-child {
  margin: auto;
  flex: 1;
  margin-top: 2em;
  border: none;



}

.flex-child:hover {
  border: none;
}

.flex-child img {
  width: 450px;
  height: 400px;
  border-radius: 10px;
  margin-left: 0em;
  border: none;
}

.flex-child:nth-child(2) {
  text-decoration: none;
}

.box1 {
  width: 80%;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 3px;
  transition: 1.5s;
}

.box1:hover {
  background-color: #775faa;

}

.box1 h1 {
  font-size: 2em;
  letter-spacing: 0em;
}

.box1 p {
  text-align: left;
  font-size: 1em;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.7em;

}

.box1 img {
  margin-top: 20px;
  width: 10em;
  height: 10em;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.heading h1 {
  margin-top: 50px;
  background-image: linear-gradient(20deg,
      #9879DB 36.666%,
      #9879DB 36.666%,
      #9879DB 43.333%,
      #9879DB 43.333%,
      #20B8ED 40%,
      #20B8ED 40%,
      #00D6C1 66.666%,
      #00D6C1 66.666%,
      #00D6C1 83.333%,
      #00D6C1 83.333%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.flex-container2 {
  display: flex;
  border: none;
  margin-right: auto;
  margin-left: auto;
  width: 76%;
  background-color: #2b2b2b;
  border-radius: 10px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 3em;
}

.flex-child2 {
  margin: auto;
  flex: 1;
  margin-top: 2em;
  border: none;



}

.flex-child2 a {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #9879DB;
  text-decoration: none;

}

.flex-child2 img {
  width: 50%;
  height: 50%;
  margin-left: 100px;
  margin-top: 40px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.flex-child2:nth-child(2) {
  margin-right: 100px;


}

.flex-child2:nth-child(2) h1 {
  font-size: 2em;
  letter-spacing: 0em;

}

.flex-child2:nth-child(2) p {
  text-align: left;
  font-size: 1em;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 1.9em;

}

.container {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto 0px;
}

.footer,
.push {

  height: 3em;
  padding-top: 1.2em;
  text-align: center;
  background-color: #2b2b2b;

}

.footer a {
  text-decoration: none;
  color: #6699ee;
  border: 3px transparent;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    margin-top: 20em;
  }

  .box1 {

    width: 100%;
  }


  .flex-container2 {
    flex-direction: column;
  }

  .flex-child2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-child2:nth-child(2) p {
    text-align: center;
    margin-left: 0em;
    margin-right: 00px;

  }

  .flex-child2:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
    width: 80%;


  }

  .flex-child2 img {
    margin-left: 20px;
  }

  .typewriter h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    width: 16em;
    font-size: 1.3em;
    font-weight: 100;

    margin-top: -15em;
    margin-bottom: 8em;
    font-weight: 450;

    animation:
      typing 4s steps(40, end),
      blink-caret 0.5s step-end infinite;

  }
}